@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

.pantalla
{
    background-image: url('../../../assets/fondo.png'); 
    background-size: cover;
    height: calc(100vh - 80px);
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pantalla p
{
  color:rgb(238, 202, 202);
}

.box{
    width: 80vh;
    background: rgba(32, 1, 1, 0.4);
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 1.25rem;
    top: 50%;
    left: 50%;
    max-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.avatar
{
    border-radius: 15px;
}


.box h1{
    margin-top: 0.5rem;
    font-size: 1.9rem;
    letter-spacing: 0.188rem;
    font-weight: 100;
    margin-bottom: 1rem;
    color:rgb(252, 47, 173);
}

h2{
    color:rgb(238, 103, 215);
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}


.box p{
    text-align: justify;
    font-size: 1.3rem;
    letter-spacing: 0.1vh;
    color:rgb(198, 142, 255);
}



.contendor-p
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright
{
    color: white;
}

@media screen and (max-width: 768px) {
    .box {
      width: 90%;
      max-width: 31.25rem;
    }
    
    .avatar{
      width: 6rem;
      
  }
  }
  
  


  /* SPINNER */

.contenedor-spinner
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 57, 57, 0.4);
    backdrop-filter: blur(3px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}