<body>
  
    <nav>
      <div class="brand" routerLink="./bienvenida">
        <img src="../../../favicon.ico" alt="">
        <h2>LucAg</h2>
      </div>
      <ul class="contendor-ul">
        <li class="">
          <a class="nav-link" routerLink="./bienvenida">Bienvenida <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="perfil">Acerca de mí</a>
        </li>
        <li  class="">
          <a class="nav-link" routerLink="contacto">Contacto</a>
        </li>
        <li  class="">
          <a class="nav-link" routerLink="proyectos">Proyetos</a>
        </li>
      </ul>
    </nav>
  </body>
  
  