<body>
    <div class="pantalla">
        <div class="caja" [@entrarIzqADer]>
            <h1>¿De qué forma puedo ayudarte?</h1>
            <h2>Contactame por los siguientes medios para poner mi conocimiento a tu disposición</h2>
            <ul>
                <li>
                    <a href="https://github.com/LucaAg" target="_blank">
                        <img  src="../../../assets/contacto/github.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/luca-agnoli-199942228/" target="_blank">
                        <img  src="../../../assets/contacto/linkedin.png" alt="">
                    </a>
               </li>
                <li>
                    <a href="mailto:lucanahuelagnoli@gmail.com?subject=Desarrollador Web FullStack">
                        <img src="../../../assets/contacto/correo-electronico.png" alt="">
                    </a>
                </li>
            </ul>
            <h2>There's no place like 127.0.0.1</h2>
        </div>
        <div class="copyright">
            <p>© 2023 Copyright: Luca Nahuel Agnoli</p>
        </div>
    </div>
    <div class="contenedor-spinner" *ngIf="spinner">
        <app-spinner></app-spinner>
    </div>
</body>

